*
{
    margin: 0;
    padding: 0;

}

.navbar
{
    float: left;
    width: 100%;
    color: #fff;
    background-color: #333;
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    padding: 15px;

}

.navbar ul li a
{
    color: #fff;
    text-decoration: none;

}

.hero
{
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
}
.hero h1
{
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}